body{
    border: 0;
}
header{
    width: 100%;
    height: 100px;
    background-color: #00f1;
    margin: auto;
    text-align: center;
    font-size: 24px;
}
.menu{
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home, .login{
    border: 2px solid rgb(255, 255, 255);
    background-color: #000;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}
.home:hover, .login:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(131, 130, 130);
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.mae{
    width: 100%;
    height: 500px;
    margin: auto;
    background-color: #050;
    border: 1px solid #050;
    box-sizing: border-box;
    padding-right: 50px;
    padding-bottom: 150px;
}

@keyframes movimento1{

    0% {top: auto; left: 0%}
    12.5% {top: auto; left: 25%}
    25% {top: auto; left: 50%}
    37.5% {top: auto; left: 75%}
    50% {top: auto; left: 100%}
    62.5% {top: auto; left: 75%}
    75% {top: auto; left: 50%}
    87.5% {top: auto; left: 25%}
    100% {top: auto; left: 0%}
}        
.quadrado1{
    width: 50px;
    height: 50px;
    background-color: #000;
    background: linear-gradient( 90deg, #000, #005f00);
    animation-name: movimento1;
    position:relative ;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes movimento2{

    0% {top: 0%; left: 75%}
    12.5% {top: 25%; left: 75%}
    25% {top: 50%; left: 75%}
    37.5% {top: 75%; left: 75%}
    50% {top: 100%; left: 75%}
    62.5% {top: 75%; left: 75%}
    75% {top: 50%; left: 75%}
    87.5% {top: 25%; left: 75%}
    100% {top: 0%; left: 75%}
}        
.quadrado2{
    padding-top: 0;
    width: 250px;
    height: 100px;
    background-color: #000;
    background: linear-gradient( 360deg, #000, #005f00);
    animation-name: movimento2;
    position: relative;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.quadrado3{
    float:left;
    background-color: aqua;
    width: 70px;
    height: 70px;
    margin-left: 150px;
    margin-top: 200px;
    transition:linear all 2s;
}

.quadrado3:hover{
    float:left;
    background-color: #ccc;
    width: 70px;
    height: 70px;
    margin-left: 150px;
    margin-top: 200px;
    border-radius: 70px;
   
}

footer, address{
    width: 100%;
    height: 35px;
    background-color: #00f1;
    margin: auto;
}