body{
    margin: 0px

}
  
p, h1, h2 {
    margin: 15px;
    padding: 50px;
    padding-right: auto;
    padding-bottom: 0px;
    /* font-size: 18px; */
    text-align: justify;
}
sup{
    font-size: 8px;
}
.texto{
    text-indent: 4em;

}
.class1{
    background-color: #00ff00

}

.class2{
    background-color: #ff0000

}
.class3{
    background-color: #009aff


}
.class4{
    background-color: #ff007f

}

img{
    margin: 10px 100px;
    padding: auto;
}

.linkfoto{
    text-align: center;
    font-size: smaller;


}