body{
    border: 25px solid rgb(110, 110, 110);
    /* border-bottom: ;
    border-top: ;
    border-left: ;
    border-right: ; */
    border-radius: 15px;   
    
}
h1{ font-weight: bold;
    color: black;
    font-size: 28px;
}

p, ul li{
font-size: 24px;
}

.idade{
color: #2fF2fB;
font-size: 24px;
border: 3px dashed #013d3a
}

.futuro{
color: rgb(176, 76, 75);
font-size: 24px;
font-weight: bold;
border: 3px dotted #000;
}

.sublinhado{
text-decoration: underline;    
}

div{ 
    background: #9bc0f7;
    width: 400px;
    height: 150px;
    border-radius: 200px;
}