table,
tr {
    border-style: dotted;
    border-color: #0af;
}

thead {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    background: chocolate;
}

tbody> :hover {
    background: blue;
    font-weight: bold;
}

tbody {
    background: #fff;
    font-weight: normal;
}

label.hora {
    display: inline-block;
    width: 90px;
}