body{
    margin: 15px;
    
}
/* https://fonts.google.com/share?selection.family=Neonderthaw */
h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: none;
    font-size: 20px;
    text-align: justify;
}