body{
    border: 25px solid rgb(110, 110, 110);
    /* border-bottom: ;
    border-top: ;
    border-left: ;
    border-right: ; */
    border-radius: 15px;
    margin: 0px;
    
}
h1{ font-weight: bold;
    color: black;
    font-size: 28px;
    text-align: center;
}

p, ul li{
font-size: 24px;
}

.idade{
color: #2fF2fB;
font-size: 24px;
border: 3px dashed #013d3a
}

.futuro{
color: rgb(176, 76, 75);
font-size: 24px;
font-weight: bold;
border: 3px dotted #000;
}

.sublinhado{
text-decoration: underline;    
}

div{
    display: inline-block ;
}
.listinha1{ 
    background: #9bc0f7;       
    border: 3px solid #ff0;
    width: 400px;
    height: 115px;
    border-radius: 200px;
}

.listinha2{ 
    background: #015a2e;
    border: 3px solid #ff0;
    width: 400px;
    height: 115px;
    border-radius: 200px;
}

.listinha3{ 
    background: #c48602;
    border: 3px solid #ff0;
    width: 400px;
    height: 115px;
    border-radius: 200px;
}