h1 {
    color: olive; font-style: oblique; font-size: 28px;
    }
#titulo{ color: blue}    
.subtitulo{
    color:    red
    ;
}
.subtitulo2{
    color: blueviolet;
}


h2 {
    font-size: 25px; color: black; font-weight: bold; 
    }


h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: lightgreen
    }


img{
    width: 200px;

}
#ortopedia{
    width: 250px;
}

ul li {
    color: olive; font-style: oblique; font-size: 28px;
}

ol li{
    color: lightsalmon; font-style: oblique; font-size: 28px;
}